{% extends 'base.html.twig' %}

{% block content %}
<div class="user_login">
    {% for userAuth in userList %}
        <div class="user user_login_item">
            <div class="user_logo">
                <a href="{{ path('show_user_page', {'id': userAuth.id}) }}">
                    <img src="{{ asset('assets/img/user.jpg') }}" />
                </a>
            </div>
            <div class="user_name">
                {{ userAuth.firstName }} {{ userAuth.lastName }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}